- var menuItems = [{'href': '/remont-iphone3g','text': 'iPhone 3G и 3GS','title': '','imgSrc': 'img/iphone/iphone3s.jpg','imgAlt': 'Ремонт Iphone 3G'},{'href': '/remont-iphone4','text': 'iPhone 4','title': '','imgSrc': 'img/iphone/iphone4.jpg','imgAlt': 'Ремонт Iphone 4'},{'href': '/remont-iphone4s','text': 'iPhone 4s','title': '','imgSrc': 'img/iphone/iphone4s.jpg','imgAlt': 'Ремонт Iphone 4S'},{'href': '/remont-iphone5','text': 'iPhone 5','title': '','imgSrc': 'img/iphone/iphone5.jpg','imgAlt': 'Ремонт Iphone 5'},{'href': '/remont-iphone-5c','text': 'iPhone 5c','title': '','imgSrc': 'img/iphone/iphone5c.jpg','imgAlt': 'Ремонт Iphone 5C'},{'href': '/remont-iphone-5s','text': 'iPhone 5s','title': '','imgSrc': 'img/iphone/iphone5s.jpg','imgAlt': 'Ремонт Iphone 5S'},{'href': '/remont-iphone-6','text': 'iPhone 6','title': '','imgSrc': 'img/iphone/iphone6.jpg','imgAlt': 'Ремонт Iphone 6'},{'href': '/remont-iphone-6plus','text': 'iPhone 6 Plus','title': '','imgSrc': 'img/iphone/iphone6plus.jpg','imgAlt': 'Ремонт Iphone 6 Plus'}];
//[{'href': 'iphone', 'title': 'Ремонт iPhone', 'text': 'iPhone'},{'href': 'ipad-remont', 'title': 'Ремонт iPad', 'text': 'iPad'},{'href': 'macbook-remont', 'title': 'Ремонт MacBook', 'text': 'MacBook'},{'href': 'remont-ipod', 'title': 'Ремонт iPod', 'text': 'iPod'}];
div.devices
  each item in menuItems
    div.devices__item
      a.devices__link(href="#{item.href}", title="Ремонт #{item.text} в Киеве")
        span.devices__img
          img.devices__img--preview(src='#{item.imgSrc}', alt='#{item.imgAlt}')
        span.devices__name #{item.text}
