header.header.is-nav-open
  .header__container.cf
    button#navbar-toggle.navbar-toggle.hide-tablet
      span.icon-bar
      span.icon-bar
      span.icon-bar
    .logo
      -if (path === '/')
        span.logo__link
          include ./modules/logo
      -else
        a.logo__link(href='/')
          include ./modules/logo

    nav#top-nav.nav
      each item in [{'name':'Ремонт iPhone', title: 'Ремонт iPhone', 'url': '/iphone', 'imgName': 'remont-iphone'},{'name':'Ремонт iPad', title: 'Ремонт iPad', 'url': '/ipad-remont', 'imgName': 'remont-ipad'},{'name':'Ремонт MacBook', title: 'Ремонт MacBook', 'url': '/remont-macbook', 'imgName': 'remont-macbook'},{'name':'Ремонт Apple Watch', title: 'Ремонт Apple Watch', 'url': '/remont-apple-watch', 'imgName': 'remont-apple-watch'}]
        if (path === item.url)
          span.nav__link.is-active
            img.nav__img(src="/img/svg/#{item.imgName}.svg", alt="Иконка: #{item.title}")
            span.nav__text(title='#{item.title}')=item.name
        else
          a.nav__link(href='#{item.url}')
            img.nav__img(src="/img/svg/#{item.imgName}.svg", alt="Иконка: #{item.title}")
            span.nav__text(title='#{item.title}')=item.name
      .nav__last
        .g-plusone(data-size="medium" data-annotation="none" data-href="https://plus.google.com/109962936005483548770")
        .fb-like(data-href='https://www.facebook.com/ServiceiPhoneUA/', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='false')