doctype html
html(dir="ltr", lang="ru")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title= title
    meta(name='keywords', content='#{keywords}')
    meta(name='description', content='#{description}')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='stylesheet', href='/css/style.css')

  body
    script(src="/sources/googleanalytics.js", async).
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55262919-2', 'auto');
      ga('send', 'pageview');

    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-K7F3VT', height='0', width='0', style='display:none;visibility:hidden')
    script(src="/sources/gtm.js", async).
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K7F3VT');
    // End Google Tag Manager

    .wrapper
      block header
        include header
      block content
    block footer
      include footer
    //price-calc is position absolute
    .price-calc
      a(href='/remont-iphone', target='_blank').price-calc__link
        img.price-calc__img(src='/img/calc.png', alt="Калькулятор Цен на Ремонт", title='Рассчитать цену ремонта')
        span.price-calc__tooltip Рассчитать цену ремонта

    script(src='/js/common.js', charset='utf-8', async)
    // Yandex.Metrika counter
    script(type='text/javascript', src="/sources/yandexmetrica.js", async).
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter33452323 = new Ya.Metrika({ id:33452323, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/33452323', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
    if vkontakte
      script(type='text/javascript', src='//vk.com/js/api/openapi.js?121', async)
      script(type='text/javascript' async).
        if (window.innerWidth >= 1025) {
          var inited = false;
          var waitForVK = setInterval(function(){
            if (window.VK && !inited) {
              clearInterval(waitForVK);
              VK.Widgets.Group("vk_groups", {
                mode: 0,
                width: "420",
                height: "350",
                color1: 'FFFFFF',
                color2: '2B587A',
                color3: '5B7FA6'
              }, 107038011);
              inited = true;
            }
          }, 100);
        }

    // BEGIN JIVOSITE CODE {literal}
    script(type='text/javascript', src="/sources/jivo.js", async).
      (function(){ var widget_id = 'L7V0Pvk7ry';
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
    // {/literal} END JIVOSITE CODE