.pricelist__table
  each item in pricesTable
    .row.pricelist__row
      .col-md-3
        .pricelist__item__title
          if(item.url)
            a(href='#{item.url}') #{item.name}
          else
            |#{item.name}
      .col-md-9
        .pricelist__item__cost #{item.price}
      //.col-md-7
        .pricelist__item__description #{item.description}
